@using KdajBi.Core.Models;
@model IEnumerable<AppointmentToken>
@if (Model.Count() > 0) { 
<div class="p-3">
<h6>Naročila</h6>
@foreach (var item in Model)
{
    <div class="card bg-secondary" id="booking-confirmation" data-id="@Html.Raw(item.Id)">
        <div class="card-body">
            @Html.Raw(item.Client.FullName)
            @Html.Raw("<a href='tel:" + item.Client.Mobile + "'>" + item.Client.Mobile + "</a>")
            @Html.Raw((item.Client != null ? "<div class=\"d-block text-warning\">" + item.Client.AppointmentNotes + "</div>" : ""))
            <div>@Html.Raw(item.Service)</div>
            <p class="mb-2"><a href="~/appointments/index?date=@Html.Raw(item.Start.Value.ToString("yyyy-MM-dd"))">@Html.Raw(item.Start.Value.ToString("dd.MM.yyyy")) @Html.Raw(item.Start.Value.ToString("H:mm"))-@Html.Raw(item.End.Value.ToString("H:mm"))</a></p>
        </div>
        <div class="card-footer px-auto">
            <button type="button" class="btn btn-danger">Izbriši</button>
            <button type="button" class="btn btn-success">Potrdi</button>
        </div>
    </div>
}
</div>

}
