@using Microsoft.AspNetCore.Identity
@using KdajBi.Core.Models;
@using KdajBi.Web

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>KdajBi-@ViewData["Title"]</title>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="~/css/_all-skins.min.css" />
    @RenderSection("styles", required: false)
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/plugins/toastr/toastr.min.css" rel="stylesheet" />
</head>
<body class="skin-blue sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed text-sm">
    <div class="wrapper">
        <header class="main-header">

            <nav class="main-header navbar navbar-expand navbar-white navbar-light">

                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                    </li>

                </ul>
                <!-- Navbar
                  <form class="form-inline ml-3">
                    <div class="input-group input-group-sm">
                      <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                      <div class="input-group-append">
                        <button class="btn btn-navbar" type="submit">
                          <i class="fas fa-search"></i>
                        </button>
                      </div>
                    </div>
                  </form>

                Right navbar links -->

                @await Component.InvokeAsync("LocationsCombo", new { CompanyId = int.Parse(User.FindFirst("CompanyId").Value) })

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" style="padding-top: 0px;" href="#" role="button" data-toggle="modal" data-target="#myContactModal">
                            <i class="far fa-envelope user-image" style="font-size: 2.1rem; color: #fff;"></i>
                        </a>
                    </li>
                    <li class="nav-item dropdown user user-menu">
                        <a href="#" class="nav-link" data-toggle="dropdown" aria-expanded="false">
                            <img src="@User.FindFirst("picture").Value" class="user-image" alt="">
                            <span class="hidden-xs"></span>
                            @if (User.HasClaim("Nadzornik", bool.TrueString))
                            {
                                <span class="right badge badge-danger" style="position: absolute;right: 15px;top: 22px;">Nadzornik</span>
                            }
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <a class="dropdown-item" href="#">@UserManager.GetUserName(User)</a>
                            <!-- Menu Body -->
                            @if (User.IsInRole("Admin"))
                            {
                                @if (User.HasClaim("Nadzornik", bool.TrueString))
                                {
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="~/companies/mycompany">Podjetje</a>
                                    @*<a class="dropdown-item" id="linkLocations" href="#" onclick="showLocations()">Saloni</a>*@
                                    <a class="dropdown-item" id="linkSettings" href="~/settings">Nastavitve</a>
                                }
                            }
                            <!-- /.row -->
                            <!-- Menu Footer-->

                            @if (User.IsInRole("Admin"))
                            {
                                <div class="dropdown-divider"></div>
                                @if (User.HasClaim("Nadzornik", bool.TrueString))
                                {
                                    <a class="dropdown-item" href="#" onclick="flipNadzornik()">
                                        Zakleni
                                    </a>
                                }
                                else
                                {
                                    <a class="dropdown-item" href="#" onclick="flipNadzornik()">
                                        Odkleni
                                    </a>
}
                            }
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="~/Account/Logout">Odjava</a>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                            <i class="fas fa-th-large"></i>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- /.navbar -->

        </header>
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="~/Home/Index" class="brand-link">
                <img src="~/img/AdminLTELogo.png" alt="KdajBi Logo" class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">KdajBi</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional)
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">Alexander Pierce</a>
                    </div>
                </div>
                    -->
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                             with font-awesome or any other icon font library -->
                        @if (User.IsInRole("Super"))
                        {
                            <li class="nav-item has-treeview menu-open">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-table"></i>
                                    <p>
                                        Master data
                                        <i class="fas fa-chevron-down right"></i>
                                    </p>
                                </a>

                                <ul class="nav nav-treeview" style="display: block;">
                                    <li class="nav-item">
                                        <a href="@Url.Content("~/companies")" class="nav-link">
                                            <i class="far nav-icon"></i>
                                            <p>Companies</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Content("~/users")" class="nav-link">
                                            <i class="far nav-icon"></i>
                                            <p>Users</p>
                                        </a>
                                    </li>

                                </ul>

                            </li>
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            @if (User.HasClaim("Nadzornik", bool.TrueString))
                            {
                                @await Component.InvokeAsync("LocationsMenu", new { CompanyId = int.Parse(User.FindFirst("CompanyId").Value) })
                            }
                        }

                        <li class="nav-item  ">
                            <a href="@Url.Content("~/appointments/Index")" class="nav-link ">
                                <i class="nav-icon fa fa-calendar-alt"></i>
                                <p>
                                    Naročila
                                </p>
                            </a>
                        </li>
                        @if (User.IsInRole("Admin"))
                        {
                            @if (User.HasClaim("Nadzornik", bool.TrueString))
                            {
                                <li class="nav-item  ">
                                    <a href="@Url.Content("~/clients/")" class="nav-link ">
                                        <i class="nav-icon fas fa-address-card"></i>
                                        <p>
                                            Stranke (seznam)
                                        </p>
                                    </a>
                                </li>
                            }
                        }
                        <li class="nav-item  ">
                            <a href="@Url.Content("~/clients/Index3/")" class="nav-link ">
                                <i class="nav-icon fas fa-address-card"></i>
                                <p>
                                    Stranke
                                </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview menu-open">
                            <a href="#" class="nav-link ">
                                <i class="nav-icon fas fa-bullhorn"></i>
                                <p>
                                    Obveščanje strank
                                </p>
                                <i class="fas fa-chevron-down right"></i>
                            </a>
                            <ul class="nav nav-treeview" style="display: block;">
                                <li class="nav-item">
                                    <a href="@Url.Content("~/sms/Notification/")" class="nav-link">
                                        <i class="far nav-icon"></i>
                                        <p>Obvesti prek SMS</p>
                                    </a>
                                </li>
                                @if (User.IsInRole("Admin"))
                                {
                                    @if (User.HasClaim("Nadzornik", bool.TrueString))
                                    {
                                        <li class="nav-item">
                                            <a href="@Url.Content("~/sms/Campaigns")" class="nav-link">
                                                <i class="far nav-icon"></i>
                                                <p>Pregled poslanih SMS</p>
                                            </a>
                                        </li>
                                    }
                                }

                            </ul>
                        </li>
                        @*<li class="nav-item has-treeview menu-open">
                                <a href="#" class="nav-link active">
                                    <i class="nav-icon fas fa-tachometer-alt"></i>
                                    <p>
                                        Jobs
                                        <i class="fas fa-chevron-down right"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview" style="display: block;">
                                    <li class="nav-item">
                                        <a href="@Url.Content("~/jobs/new")" class="nav-link">
                                            <i class="far nav-icon"></i>
                                            <p>New job</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Content("~/jobs")" class="nav-link">
                                            <i class="far nav-icon"></i>
                                            <p>My jobs</p>
                                        </a>
                                    </li>


                                </ul>
                            </li>*@
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <div class="content-wrapper">
            @RenderBody()
        </div>
        <aside class="control-sidebar control-sidebar-dark" style="margin-top: 46px">
            <div class="p-3">       
                @await Component.InvokeAsync("BookingConfirmationList", new { CompanyId = int.Parse(User.FindFirst("CompanyId").Value) })
            </div>
        </aside>
        <footer class="main-footer">
            <div class="float-right d-none d-sm-inline">
                Anything you want
            </div>
            <strong>Copyright &copy; 2014-2019 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
        </footer>
    </div>
    <div id="myContactModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Sporočilo</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form id="dataform" class="dataform" name="dataform">
                        <textarea class="form-control" id="txtMessage" rows="5"></textarea>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="cmdSend" class="btn btn-primary" onclick="SendMail();"><i class="far fa-envelope"></i> Pošlji</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /modal content-->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/js/adminlte.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/plugins/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/plugins/toastr/toastr.min.js"></script>

    <script>
        
        $(document).ready(function () {
            $('#booking-confirmation .btn-danger').click(function () {
                var card = $(this).closest('.card');
                var id = card.attr('data-id');
                
                getAPIToken().then(
                    (result) => {
                        $.ajax({
                        url: apiURL + "/api/booking-confirmation/" + id,
                        type: 'DELETE',
                        headers: { 'Authorization': 'Bearer ' + result.AccessToken },
                        success: function (data) {
                            card.remove();
                        }
                    });
                });
            });
            $('#booking-confirmation .btn-success').click(function () {
                var card = $(this).closest('.card');
                var id = card.attr('data-id');
                
                getAPIToken().then(
                    (result) => {
                        $.ajax({
                        url: apiURL + "/api/booking-confirmation/" + id,
                        type: 'PUT',
                        headers: { 'Authorization': 'Bearer ' + result.AccessToken },
                        success: function (data) {
                            card.remove();
                        }
                    });
                });
            });
        });

        function showLocations() {
            window.location = "@Url.Content("~/location/")" + $('#cboLocations').val();
        }

        function flipNadzornik() {
            @if (User.HasClaim("Nadzornik", bool.TrueString))
            { <text>window.location = "@Url.Content("~/Account/flipNadzornik")";</text> }
            else
            {
            <text>
            Swal.fire({
            html: `<div class="form-group">
                Geslo:
                <p class="">
                    <input id="secret" class="form-control" type="password" placeholder="geslo">
                </p>
            </div>`,
            confirmButtonText: 'Potrdi',
            cancelButtonText: 'Prekliči',
            showCancelButton: true,
            preConfirm: function () {
                return new Promise((resolve, reject) => {
                    resolve($('#secret').val());
                });
            }
            }).then((data) => {
                if (data.isConfirmed) { window.location = "@Url.Content("~/Account/flipNadzornik/?secret=")"+data.value;  }
            });

            </text>
            }

        }

        function SendMail() {
            if (JSON.stringify($("#txtMessage").val().length > 0)) {
                var companyID = $("#cboLocations").val();
                $.ajax({
                    type: "post",
                    data: JSON.stringify($("#txtMessage").val()),
                    url: "@Url.Action("SendMail","Account")/" + companyID,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        if (result == "OK") { toastr.success("Sporočilo poslano! <br/>Dajte nam, prosim, nekaj časa za odgovor..."); }
                        else { toastr.error("Error sending message:" + " - " + result.d); }
                        CancelMessage();
                    },
                    error: function (xhr, status, error) {
                        toastr.error("Error sending message:" + " - " + error);
                    }
                });
            }
        }

        function OpenMessage(p_text) {
            $("#txtMessage").val(p_text);
            $("#myContactModal").modal('show');
        }

        function CancelMessage() {
            $("#txtMessage").val('');
            $("#myContactModal").modal('hide');
        }

    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>






