@using KdajBi.Core.Models;
@model IEnumerable<Location>
<li class="nav-item @if (Model.Count() > 1) { <text>has-treeview</text>}">
    @if(Model.Count()>1)
    { 
        <a href="@Url.Content("~/locations")" class="nav-link">
        <i class="nav-icon fas fa-th"></i>
        <p>Saloni</p>
        <i class="fas fa-chevron-down right"></i>
    </a>

    }
    @if (Model.Count() > 1)
    { @Html.Raw(@"<ul class=""nav nav-treeview"" style=""display: none;"">"); }
    

        @foreach (var item in Model)
        {
            <li class="nav-item">
                <a href="@Url.Content("~/location/"+item.Id)" class="nav-link">
                        @if (Model.Count() > 1)
                        { @Html.Raw(@"<i class=""far nav-icon""></i>"); }
                        else
                        { @Html.Raw(@"<i class=""nav-icon fas fa-th""></i>"); }
                    
                    <p>@Html.Raw(item.Name)</p>
                </a>
            </li>
        }
    @if (Model.Count() > 1) { @Html.Raw(@"</ul>"); }
    
</li>

